.pokemon {
  align-items: center;
  background-color: #fffff0;
  border: 2px solid #ffaaaa;
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  transform: perspective(1000px);
  transform-style: preserve-3d;
  width: 100px;
}

.pokemon__name {
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 3px;
  margin: 0.5em 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
}

.pokemon:hover .pokemon__name {
  transform: translateZ(100px);
}

.pokemon:hover .pokemon__types-wrapper {
  transform: translateZ(100px);
  transition: 0.3s;
}

.pokemon__image {
  transition: 0.3s;
  width: 100%;
}

.pokemon:hover .pokemon__image {
  transform: translateZ(100px);
}
